/node_modules
/docs
report.xml
cobertura-coverage.xml
i18ncheckstylereport
*npm-debug.log
/.idea
/test_reports
/functional_tests_reporter
/.tscache

/server/node_modules
/server/db
/server/apps/*
/server/uploads
/server/logs
/server/signininfo.json
/server/report.xml
/server/build_server

/buildOutput
/buildScripts/node_modules

/client/builder/plugins/plugins.json

/client/libs/*
/client/buildOutput
/client/buildScripts/testRunner/chromedriver/chromedriver.exe
/client/buildScripts/testRunner/target
/client/buildScripts/appbuilder.profile.js
/client/buildScripts/stemapp3d.profile.js
/client/buildScripts/stemapp3d-widget-setting.profile.js
/client/buildScripts/buildlog.txt
/client/buildScripts/xt/appbuilder.profile.js

/client/stemapp/buildOutput
/client/stemapp/buildScripts/node_modules
/client/stemapp/buildScripts/app.profile.js
/client/stemapp/dynamic-modules/nls
/client/stemapp/dynamic-modules/themes
/client/stemapp/dynamic-modules/widgets
/client/stemapp/webappviewer.zip
/client/stemapp/buildScripts/mobile/app.profile.js

/client/stemapp3d/buildOutput
/client/stemapp3d/buildScripts/node_modules
/client/stemapp3d/buildScripts/app.profile.js
/client/stemapp3d/dynamic-modules/nls
/client/stemapp3d/dynamic-modules/themes
/client/stemapp3d/dynamic-modules/widgets

*_build-generate_*
client/buildScripts/theme_stylus/themes/LaunchPad/node_modules
client/stemapp/themes/LaunchpadTheme/styles/default/DOJO_THEME_TEST_PAGES
client/buildScripts/theme_stylus/themes/LaunchPad/style2/node_modules
client/buildScripts/theme_stylus/themes/LaunchPad/default/node_modules

*functional tests
/tests/functional/snapshots
/functionalReports

